# Ambiente de la aplicación
APP_ENV=development
APP_SECRET=CHANGE_THIS_VALUE

# Define el puerto en dónde se va a ejecutar Express.js
EXPRESS_PORT=3000

# Variables de conexión a la base de datos
DB_DEVELOPMENT_HOST=127.0.0.1
DB_DEVELOPMENT_PORT=3306
DB_DEVELOPMENT_NAME=my_development_database
DB_DEVELOPMENT_USER=my_username
DB_DEVELOPMENT_PASSWORD=my_password

DB_PRODUCTION_HOST=127.0.0.1
DB_PRODUCTION_PORT=3306
DB_PRODUCTION_NAME=my_production_database
DB_PRODUCTION_USER=my_username
DB_PRODUCTION_PASSWORD=my_password

MAIL_HOST='debugmail.io'
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_SECURE=false
MAIL_FROM_NAME=process.env.MAIL_FROM_NAME || 'test'
MAIL_FROM_EMAIL=process.env.MAIL_FROM_EMAIL || 'test@test.com'
